@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="jumbotron">

<table>
    <tr>
        <td>
            <img height="100" width="100" src="@Url.Action("GetImage","Login",new { Id=4})" id="ProfilePicture" class="img-circle" />
        </td>
    </tr>
    <tr>
        <td>
            <h3>Surendra Kasetti</h3>

        </td>
    </tr>

</table>

    </div>




</div>