
@{
    ViewBag.Title = "UnAuthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<li style="color:crimson;font-family:Calibri;">
    <h2>Access denied..please contact system administrator</h2>
</li>

